* {
  font-family: Poppins;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: white;
}

.main {
  height: auto;
}

.hero {
  position: relative;
  color: whitesmoke;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-image: url(assets/img/hero/hero-banner.webp);
  background-size: cover;
  background-position: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}
.mt-custom {
  margin-top: 4rem;
}

footer {
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--text-color);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: var(--text-color);
  padding: 0.7rem 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

.searchBtn {
  font-size: 1.2rem;
}

.searchBtn:hover {
  color: rgb(128, 128, 128);
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

[data-bs-theme="dark"] .card {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

[data-bs-theme="dark"] .card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}

.card-footer {
  border-top: none;
  padding: 15px;
  text-align: right;
}

.card-footer a {
  text-decoration: none;
  font-weight: 600;
}

.card-footer a:hover {
  text-decoration: underline;
}

/* Style for custom file input container */
.container {
  max-width: 800px;
  margin: 50px auto;
}

.custom-file-container {
  border: 1px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;
  position: relative;
}

.custom-file-container.dragover,
.custom-file-container:hover,
.custom-file-container.active {
  border-color: #007bff;
}

.cloud-icon {
  font-size: 3rem;
  color: rgb(0, 145, 255);
}

.dropbox-default-label {
  margin-top: 10px;
  color: rgba(0, 145, 255, 0.753) !important;
}

.file-list {
  margin-top: 20px;
}

.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 1rem;
}

.file-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.clear-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.custom-close-button {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  font-size: 0.5rem !important;
  opacity: 0.8;
}

.custom-close-button:hover {
  opacity: 1;
}

.alert-dismissible .btn-close {
  padding: 0.5rem;
}

.list-card {
  display: flex;
  flex-direction: row; /* Arrange children horizontally */
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.list-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

[data-bs-theme="dark"] .list-card {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

[data-bs-theme="dark"] .list-card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.list-card-img-container {
  flex: 0 0 30%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  max-width: 30%;
  object-fit: cover;
}

.list-card-img-top {
  max-height: auto;
  object-fit: cover;
}

.list-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.list-card-body {
  flex: 1;
  padding: 20px;
}

.list-card-footer {
  border-top: none;
  padding: 15px;
  text-align: right;
}

.list-card-footer a {
  text-decoration: none;
  font-weight: 600;
}

.list-card-footer a:hover {
  text-decoration: underline;
}

.image-container {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.overlay {
  z-index: 5;
  background-color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s; /* Add a transition for smoother appearance */
}

.image-container:hover .overlay {
  opacity: 0.5; /* Show the overlay on hover */
}

.btn {
  z-index: 1;
}

.img-container .image-container img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

/* Center the camera icon inside the image container */
.img-container .image-container .bi-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Overlay styling */
#overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none;
}

/* Spinner styling */
#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
